<div>
    <div class="text3" style="height:200px;">
        <%= image_tag 'testimonial_22-190x190.jpg',class:'profile-image img-fluid float-left' %>
        <div>
            <strong><%= @user.username %>/<%= @user.language %></strong>
            <br><a><%= @user.introduction %></a>
        </div>
        <div>
            <%= link_to "contact me", 'btn btn-cta-primary float-right', class:"btn btn-outline-danger my-2 my-sm-0" %>
        </div>

        <%= link_to "edit", 'edit', class:"btn btn-outline-danger my-2 my-sm-0" %>
    
    </div>
    <hr>
    <div style="display: flex;">
        <div class="d-lg-inline d-none mr-0 ml-5 p-3 float-right col-2" style="height: 300px;background-color: white;">
        </div>
        <div class="text-center" style="width: 90%;">
            <div class="">
                <% @user.posts.each do |p| %>
                    <div class="card mx-auto p-0" style="width: 85%;">
                        <div class="card-body p-0" style="display: flex;">
                            <div style="width:40px;background-color: #EEEEEE;"></div>
                            
                            <div class="post-content p-2" style="width: 60%;">
                                <div class="card-title post-box post-info1" style="display: flex">
                                    <div class="circle m-1"></div>
                                    <strong class="mt-1"><%= link_to p.community.name, p.community %></strong>
                                        <span class="mt-1">・</span>
                                        <span class="mt-1">Posted by</span>
                                    <a class="mt-1"><%= @user.username %></a>
                                    <a class="mt-1"><%= p.created_at %></a>  
                                </div>
                                <div class="card-text text-left">    
                                    <%= link_to p.title, p %>
                                    <div><%= p.body.truncate(25) %></div>
                                </div>
                            </div>                           
                        </div>
                </div>
                    
                <% end %>   
            </div>
        </div>

        <div class="d-lg-inline d-none mr-5 ml-0 p-3 float-right col-2" style="height: 300px;background-color: white;">
        </div>
    </div>
</div>







