
<div class="">
    <div class="user-show-top-container mx-auto m-0 p-0">
        <div class="user-show-top">
            <div class="user-show-top-community-detail d-md-none">
                <div class="d-flex justify-content-between">
                    <div>
                    </div>
                    <div class="user-counter mr-5 d-flex">
                        <div>
                            <strong><span class="count-number pl-3">43</strong>
                            <div class="count-kind">Subscribers</div>
                        </div>
                        <div>
                        ｜
                        </div>
                        <div>
                            <strong class="count-number pl-3">30</strong>
                            <div class="count-kind pl-3">Online</div>
                        </div>
                    </div>
                </div>
                <div class="user-show-community-body">
                    <div class="user-show-community-body-p p-0"><%= @user.introduction %></div>
                </div>
            </div>
            <div class="user-show-bg p-0 mx-auto"></div>
        </div>
        <div class="user-title mx-auto py-1">
            <div class="user-title-box d-flex mx-auto">
                <div class="">
                    <% if @user.image.attached? %>
                    <%= image_tag @user.image, class:'user-title-box-profile-image p-2'%>
                    <% end %>
                </div>
                <div>
                    <div class="user-title-box-name ml-3 d-flex">
                        <div class="p-0"><%= @user.username %>/</div>
                        <div><%= @user.language %></div>
                    </div>
                    <div class="d-md-none"><%= button_to '参加する',"", class:"btn btn-outline-danger ml-5" %></div>
                </div>
                <div class="d-md-inline d-none"><%= button_to '参加する',"", class:"btn btn-outline-danger ml-5 mt-3" %></div>
            </div>
        </div>
    </div>
</div>

<div class="user-posts-box mt-5 mx-auto d-flex">
    <div class="text-center col-12 col-md-8">
        <div class="posts">
            <% @user.posts.each do |p| %>
                <div class="card mx-auto mb-1">
                    <div class="card-body d-flex p-0">
                        <div style="width:40px;background-color: #EEEEEE;">
                            <div class="m-2">
                            <%= image_tag'up.png', class:'btn-vote',:size =>'18x18' %>
                            <%= image_tag'down.png', class:'btn-vote',:size =>'18x18' %>
                            </div>
                        </div>
                        <div class="post-content p-2 col-10">
                            <div class="card-title post-box post-info1 d-flex m-0">
                                <div class="m-1">
                                    <% if p.user.image.attached? %>
                                        <%= image_tag p.user.image, class:'profile-image', :size =>'50x50'%>
                                    <% end %>
                                </div>
                                <div class="ml-2">
                                    <div class="d-flex">
                                        <span class="mt-1">Posted by</span>
                                        <strong class="pt-1 px-1 posted-user"><%= link_to p.user.username, p.user %></strong>
                                        <a class="mt-1 mt-1 d-lg-inline d-none"><%= p.created_at %></a>
                                    </div>
                                    <p class="mt-1 mt-1 created_at"><%= p.created_at %></p>
                                </div>   
                            </div>
                            <div class="card-text text-left m-3">
                                <div class="pb-3"><%= p.body.truncate(25) %></div>
                                <div class="d-md-flex flex-row-reverse">
                                    <img class="url_image p-1" src="<%= p.image %>" /> 
                                    <div class="url_title p-2">     
                                        <strong><%= link_to p.url_title, p %></strong>
                                        <div class="url_des"><%= p.description %></div>
                                    </div> 
                                </div>
                                <div class="d-flex card-bottom mt-2">
                                    <strong class="px-2"><%= link_to "コメント", p %><span class="comment-count m-1 px-1"><%= p.comments.count %></strong>
                                    <strong class="px-2">共有</strong>
                                    <strong class="px-2">保存</strong>
                                </div>    
                            </div>
                        </div>                          
                    </div>
                </div>
            <% end %>   
            <% if @user.posts.count == 0 %>
                まだ、投稿がありません。
            <% end %>
        </div>
    </div>
    <div class="card card_user_details bg-light mb-3 d-lg-inline d-none mr-5 ml-0 float-right col-3 p-0">
        <div class="card-header card-header-user">USER DETAILS</div>
        <div class="card-body user-details">
            <h4 class="card-title m-0 "><%= @user.username %></h4>
            <div class="user-details-language mt-0">使用する言語：<%= @user.language %></div>
            <div class="community-counter m-3 d-flex">
                <div>
                    <strong><span class="count-number pl-3">33</strong>
                    <div class="count-kind">Subscribers</div>
                </div>
                <div>
                ｜
                </div>
                <div>
                    <strong class="count-number pl-3">30</strong>
                    <div class="count-kind pl-3">Online</div>
                </div>
            </div>
            <%= @user.introduction %>
            <hr>
            <div class="community-edit">
            <hr>
            <%= link_to 'Edit', edit_user_registration_path(@user) ,class:"" %>
            </div>
        </div>
    </div>
</div>





    
    









