<% if user_signed_in? %>
<body>      
    <div class="posts-box mt-5 d-flex">
        <div class="row text-center">
            <div class="container p-0">
            <div class="row">
                <% @posts.each do |p| %>
                    <div class="card col-12 col-md-8 mx-auto p-0 mb-1">
                        <div class="d-flex">
                            <div style="width:40px;background-color: #EEEEEE;"></div>
                            <div class="post-content p-2">
                                <div class="card-title post-box post-info1 d-flex">
                                    <div class="">
                                        <% if p.user.image.attached? %>
                                            <%= image_tag p.user.image, class:'profile-image', :size =>'50x50'%>
                                        <% end %>
                                    </div>
                                    <strong class="mt-1 posted-user"><%= link_to p.community.name, p.community %></strong>
                                    <span class="mt-1">・</span>
                                    <span class="mt-1">Posted by</span>
                                    <strong class="mt-1 px-1 posted-user"><%= link_to p.user.username, p.user %></strong>
                                    <a class="mt-1 d-lg-inline d-none"><%= p.created_at %></a> 
                                </div>
                                <div class="card-text text-left">    
                                    <div class="pb-3"><%= p.body.truncate(25) %></div>
                                    <div class="d-lg-flex flex-row-reverse">
                                        <img class="url_image p-1 m-3" src="<%= p.image %>" />
                                        <div class="url_title p-2">     
                                            <strong><%= link_to p.url_title, p %></strong>
                                            <div class="url_des"><%= p.description %></div>
                                        </div>
                                    </div>
                                    <div class="d-flex card-bottom">
                                        <strong class="px-2"><%= link_to "Comment", p %></strong>
                                        <strong class="px-2">Shere</strong>
                                        <strong class="px-2">Save</strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <% end %>
            </div>
            </div>
        </div>
    </div>
</body>



<% else %>

<!-- Cover -->
<header class="masthead text-white d-flex">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-offset-3 text-center">
                    <h1 class="text1 text-white">世界中に友達をつくろう</h1>
                    <h1 class="text2 text-white">Qomqom</h1>
                    <%= link_to "さあ始めよう", 'communities', class:"btn btn-warning btn-xl js-scroll-trigger"  %>

                </div>  
            </div>
        </div>
</header>

<div class="container-fluid2 stampeding">
    <div class="container-box mx-auto d-flex p-5">
        <div class="container-box-left p-2">
            <strong class="container-box-title">Qomqomとは</strong>
            <p class="container-box-text">
            Qomqom (コムコム) は、世界中の人とやりとりができるコミニティ作成サービスです。
            <br>
            <br>
            共通の趣味などを持つ人たち同士が集まり、「テーマ」と「話をする言語」を決定し、コミニティを結成。
            <br>
            コミニティの中に参加していく形で日本人はもちろん英語のネイティブスピーカーなどとも出会いがたくさんあります。
            <br>
            <br>
   
            </p>
        </div>
        <div class="p-2">
            <div class="square ml-3">
            </div>
            <%= link_to "さあ始めよう", 'communities', class:"btn btn-outline-danger my-2 m-3"  %> 
        </div>
    </div>
    
    <div class="text-center m-5">
    <strong class="container-box-title">Qomqomでできること</strong>
    </div>

    <div class="container-box2 mx-auto d-flex justify-content-around m-3">
        <div class="m-1 container-box-text pl-5"> 
            <strong>コミニティへの投稿</strong>
            <br><%= image_tag'144613.png', class:'image2' %>
        </div>
        <div class="m-1 container-box-text"></strong>
            <strong>コメントの添削機能
            <br><%= image_tag'118281.png', class:'image2' %>
        </div>
        <div class="m-1 container-box-text"></strong>
            <strong>ダイレクトメッセージ
            <br><%= image_tag'144613.png', class:'image2' %>
        </div>
    </div>

</div>

<div class="container-fluid3">
    <div class="row">
        <div class="col-sm-offset-3 text-center">
        </div>  
    </div>
</div>


<% end %>


<style>


.image2{
    width:50% ;
}





            
</style>



