<html style="height: 100%;">
<div class="d-flex" style="flex-direction: column;min-height: 100vh;">
    <div class="">
        <div class="card mx-auto mt-5" style="width: 60%;">
            <div class="comment-flex">
                <div class="circle my-3 ml-3"></div>
                <div class="card-body p-2">
                    <div class="comment-box p-2">
                    <a class="comment-time"><%= @comment.created_at %></a>
                    <%= @comment.body %>
                    </div>
                </div>
            </div>
        <hr>
            <%= form_for([@comment, @fix_comment]) do |f| %>
            <div class="form-group p-3">
                <%= f.text_field :body, class: "form-control" %>
            </div>
            <div class="form-group"><%= f.submit class: "btn btn-primary m-3",  title: ""%></div>
            <% end %>
        </div>
    </div>
</div>

</html>

<style>
.comment-flex{
    display: flex;
}

.comment-box{
    background: #DDDDDD;
    border-radius: 4px ;
    font-size: 80% ;
}

.comment-body{
    font-size: 120% ;
}

.form-control{
    background-color: #FFC0CB;
}
</style>
