<html>
<div>
    <h5 class="back-community">
    <%= link_to "< " + @post.community.name, @post.community %> 
    </h5>
    <div class="post">
        <div class="card col-12 col-lg-6 mx-auto">
            <img class="card-img-top posts-image-top mx-auto mt-3" src="<%= @post.image %>" />
            <div class="card-body p-1">
                <strong class="post-url_title"><a target="_blank" href="<%= @post.link %>"><%= @post.url_title %></a></strong>
                <p class="post-url_description"><%= @post.description %></p>
                <div class="post-link col-12 mb-3">
                    <a target="_blank" href="<%= @post.link %>">続きを読む</a>
                </div>
            </div>
        </div>

        <div class="col-12 col-lg-6 mx-auto mt-5 p-0  reply-box-container">
            <div class="reply-box mx-auto p-3">
                <%= form_for([@post, @comment]) do |f| %>
                    <div class="form-group">
                        <%= f.text_field :body, class: "form-control", placeholder: "コメントする..." %>
                    </div>
                    <div class="text-center form-group mx-auto submit-comment p-0"><%= f.submit "投稿する", class: "btn btn-danger",  title: ""%></div>
                <% end %>  
            </div>
        </div>

        <div class="col-12 col-lg-6 mx-auto mt-1  p-0 comment-container-line">
            <div class="comment-container mx-auto p-2">
                <div class="comment-flex">
                    <div class="my-3 ml-3">
                    <% if @post.user.image.attached? %>
                        <%= image_tag @post.user.image, class:'profile-image', :size =>'50x50'%>
                    <% end %>
                    </div>
                    <div class="card-body p-2">
                        <div class="comment-box p-2">
                            <span class="mt-1">Posted by</span>
                            <strong class=""><%= link_to @post.user.username, @post.user %></strong>
                            <a class="comment-time"><%= @post.created_at %></a>
                            <div class="learn-language d-flex">
                                <div class="">
                                    <strong>EN</strong>
                                    <br><strong class="star-point-1">★★★</strong>
                                </div>
                                <div>＞</div>
                                <div class="">
                                    <strong>JP</strong>
                                    <br><strong class="star-point-2">★</strong>
                                </div>
                            </div>
                            <br><div class="comment-body p-2"><%= @post.body %></div>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="m-0">
            <% @post.comments.each do |c| %>
                <div class="comment-container mx-auto p-2">
                    <div class="comment-flex">
                        <div class=" my-3 ml-3"></div>
                            <% if @post.user.image.attached? %>
                            <%= image_tag c.user.image, class:'profile-image', :size =>'50x50'%>
                            <% end %>
                        <div class="card-body p-2">
                            <div class="comment-box p-1 pt-0">
                                <span class="mt-1">Posted by</span>
                                <strong><%= link_to c.user.username, c.user %></strong>
                                <a class="comment-time"><%= c.created_at %></a>
                                <div class="learn-language d-flex">
                                    <div class="">
                                        <strong>EN</strong>
                                        <br><strong class="star-point-1">★★★</strong>
                                    </div>
                                    <div>＞</div>
                                    <div class="">
                                        <strong>JP</strong>
                                        <br><strong class="star-point-2">★</strong>
                                    </div>
                                </div>
                                <br><div class="comment-body p-2"><%= c.body %></div>
                                <div class="d-flex card-bottom">
                                    <strong class="px-2"><%= link_to "添削する", new_comment_fix_comment_path(c) %></strong>
                                    <strong class="px-2">いいね</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="fix_comment_box ml-auto p-3">
                        <% c.fix_comments.each do |fc| %>
                            <div class="fix_comment_body m-3 p-1">
                                <div class="d-flex">
                                    <div class="fix_by_user">Fix by<%= link_to fc.user.username, fc.user ,class:"mx-1" %></div>
                                    <div class="comment-time"><%= fc.created_at %></div>
                                </div>
                                <%= fc.body %>
                            </div>
                        <% end %>
                    </div>
                    <hr class="m-0">
                </div>
            <% end %>
        </div>
        
    </div>
</div>
</html>


