<div class="community-index">
  <p class="alert" id="notice"><%= notice %></p>
  <div>
    <div class="community-index-title mt-5" style="height:200px;">
        <strong>あなたの興味にあったコミニティを探そう</strong>
        <br><%= link_to '新しくコミニティを作成する', new_community_path, class:"btn btn-outline-danger my-2 my-sm-0" %>      
    </div>
  
    <div class=""style="width: 90%;margin: auto;">
      <div class="row">
        <% @communities.each do |community| %>
          <div class="col-12 col-md-3" style="width: 18rem; padding: 10px 20px;">
            <div class="card community-card">
              <%= image_tag community.image, class: "card-img-top" %>
              <div class="card-body">
                <h6 class="card-title"><%= link_to community.name, community %>/<%= link_to community.language, community %></h6>
                <p class="card-text"><%= community.body %></p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
  </div>
</div>





