<p class="alert" id="notice"><%= notice %></p>
<div>
  <div class="text3" style="height:200px;">
      <strong>あなたの興味にあった
      <br>コミニティを探そう
      </strong>        
  </div>
 
  <div style="width: 90%;margin: auto;">
    <div class="row">
      <% @communities.each do |community| %>
        <div class="col-12 col-md-3" style="width: 18rem; padding: 10px 20px;">
          <div class="card">
          <img class="card-img-top" src="https://images.unsplash.com/photo-1529156069898-49953e39b3ac?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2689&q=80" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title"><%= link_to community.name, community %></h5>
            <h6 class="card-subtitle mb-2 text-muted"><%= link_to community.language, community %></h6>
            <p class="card-text"><%= community.body %></p>
            <a href="#" class="card-link"><%= link_to 'Edit', edit_community_path(community) %></a>
            <a href="#" class="card-link"><%= link_to 'Destroy', community, method: :delete, data: { confirm: 'Are you sure?' } %></a>
          </div>
          </div>
        </div>
      <% end %>
    </div>

  <div class="btn-mk-com">
    <%= link_to '新しくコミニティを作成する', new_community_path, class:"btn btn-outline-danger my-2 my-sm-0" %>
  </div>
</div>

<style>
  .btn-mk-com{
    position: fixed;
    bottom: 12rem;
    right: 2rem;
    margin: 0;  
  }
</style>


