<div class="community-index">
  <div>
    <div class="community-index-title mt-5" style="height:200px;">
        <strong>あなたの興味にあったコミニティを探そう</strong>
        <br><%= link_to '新しくコミニティを作成する', new_community_path, class:"btn btn-outline-danger my-2 my-sm-0" %>      
    </div>
  
    <div class=""style="width: 90%;margin: auto;">
      <div class="row">
        <% @communities.each do |community| %>
          <div class="col-12 col-md-3" style="width: 18rem; padding: 10px 20px;">
            <div class="card community-card">
              <% if community.image.attached? %>
                <%= image_tag community.image, class: "community-card-img-top" %>
              <% end %>
              <div class="card-body">
                <div class="d-flex">
                  <% if community.image.attached? %>
                      <%= image_tag community.image, class:'profile-image p-1', :size =>'50x50'%>
                  <% end %>
                  <h6 class="card-title"><%= link_to community.name, community,class:"card-title-communityname" %>/<%= community.language %></h6>
                </div>
                <p class="card-text community-body "><%= community.body %></p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
  </div>
</div>





