<!DOCTYPE html>
<html>

  <head>
    <title>Chun</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <!Navbar-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark" >
  <a class="navbar-brand" href='/'>Qomqom</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  

  <div class="collapse navbar-collapse" id="navbarSupportedContent">

  <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form> 
 
    <%= link_to "サインイン", new_user_session_path, class:"btn btn-outline-success my-2 my-sm-0" %>
    <%= link_to "会員登録", new_user_registration_path,class:"btn btn-outline-success my-2 my-sm-0" %>
    <% if user_signed_in? %>
        <%= link_to('ログアウト', destroy_user_session_path, :method => :delete)%>
        <% else %>
        <%= link_to('サインイン', new_user_session_path) %>
        <% end %>
   
  </div> 

  <div class="form-inline">
    <% if user_signed_in? %>
    <%= link_to current_user.username, user_path(current_user), class:"nav-link" %>
    <%= image_tag 'testimonial_22-190x190.jpg',class:'profile-image img-fluid float-left', :size =>'50x50'%>
    <% end %>
  </div>
</nav>
<div style="margin: auto;">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>
