<!DOCTYPE html>
<html>

  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Qomqom</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body class="bg-light">

  <!-- Navbar -->
  <nav class="sticky-top navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href='/'>Qomqom</a>
  <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#Navber" aria-controls="Navber" aria-expanded="false" aria-label="ナビゲーションの切替">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="Navber">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#"></a>
      </li>
      <li class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          MENU
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to "コミュニティーを探す", communities_path, class:"dropdown-item"  %>
          <a class="dropdown-item" href="#">その他</a>
          <div class="dropdown-divider"></div>
          <% if user_signed_in? %>
            <%= link_to('ログアウト', destroy_user_session_path, :method => :delete,class:"dropdown-item")%>
          <% end %>
        </div>
      </li>
    </ul>
    <div class="my-2 my-lg-0">
      <% if user_signed_in? %>
        <div class="form-inline">
          <%= link_to current_user.username, user_path(current_user), class:"nav-link" %>
          <% if current_user.image.attached? %>
            <%= image_tag current_user.image, class:'profile-image', :size =>'40x40'%>
          <% end %>
          <% else %>
            <div class="d-flex">
              <div class="nav-item active mx-2"><%= link_to "会員登録", new_user_registration_path,class:"btn btn-outline-danger my-2 my-sm-0" %></div>
              <div class="nav-item active mx-2"><%= link_to('サインイン', new_user_session_path,class:"btn btn-outline-danger my-2 my-sm-0") %></div>
            </div>
        </div>
      <% end %>  
    </div>
  </div><!-- /.navbar-collapse -->
</nav>

    <%= yield %>



</body>
</html>

<style>
.navbar{
  background-color: black !important;
  opacity: 0.8;

}
.navbar-light .navbar-brand{
  color: white;
}

.navbar-light .navbar-nav .nav-link {
  color: red;
}
.navbar-brand a{
  color: white;
}

.navbar-light .navbar-toggler{
  background-color: white;
  border: 1px solid white;
}




</style>
